##################################################
# .gitignore
# v1.0
##################################################
.metadata/
RemoteSystemsTempFiles/
.settings/
bin/
*.class
*.jar
.project
.classpath

##################################################