##################################################
# .gitignore
# v1.0
# create : 2015.04.02
##################################################
.metadata/
RemoteSystemsTempFiles/
.settings/
bin/
*.class
*.jar
.project
.classpath
